h1
{
    text-align: center;
    margin-top: 10vh;
    color: crimson;
}
.disponible
{
    background-color: greenyellow;
    color: white;
}
.nodisponible
{
    background-color: red;
    text-align: center;
}