h1, h2
{
    text-align: center;
    margin: 5vh 0;
}
.rojo
{
    background-color: darkred;
    color: white;
    width: 80vw;
    margin: 10px;
}
.amarillo
{
    background-color: darkkhaki;
    width: 80vw;
    margin: 10px;
}