<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Es par?</title>
    <style>
        h1 {
            text-align: center;
            margin-top: 10vh;
        }
    </style>
</head>
<body>
    <h1 th:text="${espar} ? 'El numero introducido ('+${numero}+') es par' : 'El numero introducido ('+${numero}+') no es par'"></h1>
</body>
</html>