<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/get-form}" method="get">
        <input type="text" name="username" placeholder="Nombre usuario" autocomplete="off">
        <a th:href="@{get-form?username=Valor por enlace}">Enlace</a>
        <button type="submit">Enviar</button>
        <a th:href="@{get-form?id=1}">Enlace 1</a>
        <a th:href="@{get-form?id=2}">Enlace 2</a>

    </form>
</body>
</html>