<div class="pie w-100 p-5">
    <a href="#" class="mx-2">casachollo</a>
    <div class="mx-2">
        <a href="#"><i class="fa-brands fa-facebook me-1"></i></a>
        <a href="#"><i class="fa-brands fa-instagram me-1"></i></a>
        <a href="#"><i class="fa-brands fa-twitter me-1"></i></a>
        <a href="#"><i class="fa-brands fa-youtube me-1"></i></a>
        <a href="#"><i class="fa-brands fa-pinterest me-1"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</div>
