<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="alumno : ${alumnos}">
                <td th:text="${alumno.id}"></td>
                <td th:text="${alumno.nombre}"></td>
                <td th:text="${alumno.apellido1}"></td>
                <td th:text="${alumno.apellido2}"></td>
                <td th:text="${alumno.nota}"></td>
            </tr>
        </tbody>
    </table>

    <h3 th:text="${promedio}"></h3>
</body>
</html>