<nav>
    <button class="menu"><i class="fa-sharp fa-solid fa-bars mx-3"></i></button>
    <a href="#" [ngClass]="{casachollo: on}">{{enlace1}}</a>
    <a href="#" class="link-secondary border-end border-secondary small ms-5 px-2">{{enlace2}}</a>
    <a href="#"  class="link-secondary small px-2">{{enlace3}}</a>
    <div class="separator"></div>
    <a href="#" class="link-secondary small me-1 px-1"><i class="fa-regular fa-bell px-1"></i>{{alertas}}</a>
    <a href="#" class="link-secondary small me-5 px-1"><i class="fa-regular fa-heart px-1"></i>{{favoritos}}</a>
    <button class="btn btn-outline-primary me-4">{{publicar}}</button>
    <button class="btn btn-primary"><i class="fa-solid fa-user pe-2"></i>{{log}}</button>
</nav>