* {
    margin: 0;
    padding: 0;
    color: white;
}

header {
    height: 10vh;
    background-color: black;
}

.navigation {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation > a {
    font-size: 2.5em;
    margin: 0 1em;
    text-decoration: none;
}

.main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.content {
    height: 100%;
    width: 70%;
    background-color: gray;
    font-size: large;
}

aside {
    height: 100%;
    width: 30%;
    background-color: lightgrey;
    font-size: large;

}

p {
    padding: 1em;
}

.footer {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 0%, .8);
}

@media(max-width: 560px) {
    .menu {
        display: block;
    }

    .links, aside {
        display: none;
    }

    .content {
        width: 100%;
    }
}

@media(min-width: 561px) {
    .menu {
        display: none;
    }

    .links, aside {
        display: block;
    }

    .content {
        width: 70%;
    }
}